In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving spam.csv to spam.csv

In [ ]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [ ]:
data.head()

  class  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [ ]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [ ]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [ ]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv=CountVectorizer()

In [ ]:
x=data['message']
y=data['class']

In [ ]:
x.shape

(5572,)

In [ ]:
y.shape

(5572,)

In [ ]:
x=cv.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test,y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=42)

In [ ]:
x_test.shape

(1115, 8672)

In [ ]:
x_train.shape

(4457, 8672)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
model=MultinomialNB()

In [ ]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
model.score(x_test,y_test)

0.97847533632287

In [ ]:
result=model.score(x_test,y_test)

In [ ]:
result=result*100

In [ ]:
result

97.847533632287

In [ ]:
import pickle

In [ ]:
pickle.dump(model,open("spam.pkl","wb"))

In [ ]:
pickle.dump(model,open("vectorizer.pkl","wb"))

In [ ]:
clf=pickle.load(open("spam.pkl","rb"))

In [ ]:
clf

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
msg="you win 10 dollar"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]

In [ ]:
msg="Hello There"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]